<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color1</key>
	<string>rgba(253,0,23,1.0)</string>
	<key>color2</key>
	<string>rgba(253,118,35,1.0)</string>
	<key>color3</key>
	<string>rgba(255,235,0,1.0)</string>
	<key>color4</key>
	<string>rgba(0.610,156,0,1.0)</string>
	<key>color5</key>
	<string>rgba(69,255,0,1.0)</string>
	<key>color6</key>
	<string>rgba(43,166,255,1.0)</string>
	<key>color7</key>
	<string>rgba(13,54,255,1.0)</string>
	<key>color8</key>
	<string>rgba(69,171,112,1.0)</string>
	<key>color9</key>
	<string>rgba(110,57,203,1.0)</string>
	<key>color10</key>
	<string>rgba(222,39,86,1.0)</string>
	<key>color11</key>
	<string>rgba(250,210,58,1.0)</string>
	<key>color12</key>
	<string>rgba(220,0,129,1.0)</string>
	<key>color13</key>
	<string>rgba(221,25,250,1.0)</string>
	<key>color14</key>
	<string>rgba(97,90,117,1.0)</string>
	<key>color15</key>
	<string>rgba(64,65,99,1.0)</string>
	<key>color16</key>
	<string>rgba(69,172,114,1.0)</string>
	<key>color17</key>
	<string>rgba(176,202,27,1.0)</string>
	<key>color18</key>
	<string>rgba(159,116,73,1.0)</string>
	<key>color19</key>
	<string>rgba(156,72,78,1.0)</string>
	<key>color20</key>
	<string>rgba(255,255,255,1.0)</string>
	<key>color21</key>
	<string>rgba(200,200,200,1.0)</string>
	<key>color22</key>
	<string>rgba(140,140,140,1.0)</string>
	<key>color23</key>
	<string>rgba(70,70,70,1.0)</string>
	<key>color24</key>
	<string>rgba(0,0,0,1.0)</string>
</dict>
</plist>
