<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color1</key>
	<string>0.992,0,0.09,1.0</string>
	<key>color2</key>
	<string>0.992,0.463,0.137,1.0</string>
	<key>color3</key>
	<string>1.000,0.920,0.000,1.0</string>
	<key>color4</key>
	<string>0.610,1.000,0.000,1.0</string>
	<key>color5</key>
	<string>0.270,1.000,0.000,1.0</string>
	<key>color6</key>
	<string>0.170,0.650,1.000,1.0</string>
	<key>color7</key>
	<string>0.050,0.210,1.000,1.0</string>
	<key>color8</key>
	<string>0.270,0.670,0.440,1.0</string>
	<key>color9</key>
	<string>0.432,0.223,0.797,1.0</string>
	<key>color10</key>
	<string>0.872,0.153,0.337,1.0</string>
	<key>color11</key>
	<string>0.982,0.823,0.227,1.0</string>
	<key>color12</key>
	<string>0.862,0.000,0.507,1.0</string>
	<key>color13</key>
	<string>0.867,0.098,0.980,1.0</string>
	<key>color14</key>
	<string>0.382,0.353,0.457,1.0</string>
	<key>color15</key>
	<string>0.252,0.253,0.387,1.0</string>
	<key>color16</key>
	<string>0.272,0.673,0.447,1.0</string>
	<key>color17</key>
	<string>0.692,0.793,0.107,1.0</string>
	<key>color18</key>
	<string>0.622,0.453,0.287,1.0</string>
	<key>color19</key>
	<string>0.612,0.283,0.307,1.0</string>
	<key>color20</key>
	<string>1,1,1,1.0</string>
	<key>color21</key>
	<string>0.784,0.784,0.784,1.0</string>
	<key>color22</key>
	<string>0.549,0.549,0.549,1.0</string>
	<key>color23</key>
	<string>0.275,0.275,0.275,1.0</string>
	<key>color24</key>
	<string>0,0,0,1.0</string>
</dict>
</plist>
